li{
    position: relative;
}
a{
    transition: .9s;
}

 .nav-link::after{
    content: '';
    background-color: wheat;
    position: absolute;
    top: 90%;
    left: 0%;
    width: 0%;
    height: 2px;
    transition: .5s;
}
li:hover .nav-link::after{
    width: 100%;
}